.gif-list{
    display: flex;
    flex-direction: column;
    border:1.3px solid #eee;
    border-radius: 10px;
    padding: .5em;
    width: 60vw;
    margin: 6vh;
    padding: 40px;
    text-decoration: none;
    color: aliceblue;
}

.gif-list img{
    margin: 0.4vh;
    object-fit: contain;
    min-height: fit-content;
    max-height: 50vh;
    min-width: auto;
    max-width: 130em;
}