.App {
  text-align: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  padding: 40px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 3.2vh;
  padding: 4px;
  transition: all 800ms;
}
a:hover{
  transition: all 500ms;
  color: tomato;
  cursor: pointer;
  font-size: 3.6vh;
  letter-spacing:0.5vh;
}

.app-title {
  letter-spacing:0.5vh;
  transition: all 500ms;
}
.app-title:hover{
  transition: all 500ms;
  color: tomato;
  cursor: pointer;
}