.App {
  text-align: center;
}

.App-logo {
  margin: 5% 0% 0% 33%;
  /* display: flex;
  justify-self: center;
  align-content: center; */
  height: 50px;
  width: 50px;
  transition: all 800ms;
}
.App-logo:hover {
  height: 75px;
  width: 75px;
  cursor: pointer;
  filter:hue-rotate(180deg);
  transition: all 800ms;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 3.2vh;
  padding: 4px;
  transition: all 800ms;
}
a:hover{
  transition: all 500ms;
  color: tomato;
  cursor: pointer;
  font-size: 3.6vh;
  letter-spacing:0.5vh;
}

.app-title {
  letter-spacing:0.5vh;
  transition: all 500ms;
}
.app-title:hover{
  transition: all 500ms;
  color: tomato;
  cursor: pointer;
}

i {
  font-size: 80px;
}

/*----------*/  /*----------*/  /*----------*/  /*----------*/

.App-content {
  /* background-color: var(--theme-body-bg); */
  background-color: #282c34;
  color: var(--theme-body-txt);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

.App-link {
  align-self: center;
}

.App-searchBar {
  border-radius: 6px;
  box-shadow: 0px .3px 25px  rgba(163, 165, 167, 0.675);
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 60%;
}

.App-searchBar button {
  width: 30%;
  border-radius: 10px 0px 0px 10px;
}

.App-searchBar input {
  width: 100%;
  font-size: large;
  border: rgba(240, 248, 255, 0.58) solid .5px;
  border-radius: 0px 10px 10px 0px;
  padding: 5px 0px 5px 10px;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-wrapper {
	width: 100%;
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 0.5em;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 55rem){
  .App-main{
    flex-direction: initial;
  }

  .App-category{
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60%;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  background-color: rgb(60, 149, 226);
  color: var(--theme-body-txt);
  cursor: pointer;
  font-size: 1rem;
  transition: all 750ms;
  font-weight: 550;
  text-shadow: 1px 2px 3px #343434;
  border-radius: 8px;
  box-shadow: 0px .3px 25px  rgba(163, 165, 167, 0.675);
}

.btn[disabled] {
  opacity: .3;
  pointer-events: none;
  transition: all 500ms;
}

.btn:hover {
  background-color: var(--brand-color_4);
  cursor: pointer;
  color: #343434;
  font-weight: 700;
  text-shadow: 1px 2px 3px #eee;
  transition: all 750ms;
  box-shadow: 0.2px .4px 35px  rgba(36, 37, 37, 0.675);
}
